body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  background-color: #ffa500;
  padding: 1rem;
  color: white;
  text-align: center;
}

.link {
  position: sticky;
  background-color: blue;
  top: 1em;
  color: white;
  padding: 0.3em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 7px;
  text-decoration: none;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: yellow;
  padding: 50px;
  font-size: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}
