.hypetext {
  color:aqua;
  font-size: 50px;
  text-align: center;

}
body {background-color:black;} 
.hypepicbord {
  border-color:darkturquoise;
  border-width: 8px;
  border-style: groove
}

.hypewrite{
  color: aqua;
  text-align:center;
  font-size: 25px;
}

.hypewrite2 {
  color: aliceblue;
  text-align: center;
  font-size: 17px;
}

.favlist {
  color:aquamarine;
  text-align: left;
  font-size: 25px;
}

.things{
  color:white;



}
